{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Forgot Password?</title>
	<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
	<div class="background-divider">
		<div class="left-side">
			<div class="login-form white-bg">
				<form id="form" method="post" action="{% url 'forgetpass' %}">
					{% csrf_token %}
				<div class="title">Forget Password</div>
				<input type="email" name="email" class="input-field" placeholder="Email Address">
				<div class="links-and-buttons">
        			<button type="submit" class="sign-in-button">Submit</button>
                    <a href="{% url 'login' %}" class="sign-up">Back to login</a>
				</div>
			</form>
			</div>
		</div>
		<div class="right-side">
			<div class="image-container">
				<img class="dentist-image" src="{% static 'images/Dentist.PNG' %}" alt="Dentist image">
			</div>
		</div>
	</div>
</body>
</html>