{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'css/headerStyle.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
  <link rel="stylesheet" href="{% static 'css/slider.css' %}">
  <script>
    function makeEditable() {
        // Enable input fields
        var inputFields = document.querySelectorAll('.input-info');
        inputFields.forEach(function(el) {
            el.removeAttribute('readonly');
        });
        
        // Enable radio buttons
        var radioButtons = document.querySelectorAll('.gender-selection input[type="radio"]');
        radioButtons.forEach(function(el) {
            el.removeAttribute('disabled');
        });

        // Show save button
        var saveButton = document.getElementById('save-button');
        if (saveButton) {
            saveButton.style.display = 'block';
        }

        // Show change profile picture button
        var changeProfileButton = document.querySelector('.doctor-container .action-form button:nth-child(2)');
        if (changeProfileButton) {
            changeProfileButton.style.display = 'block';
        }
    }
</script>
<style>
  /* Style for Save button */
  #save-button, #change-profile-button {
      display: none;
      background-color: #4CAF50; /* Green */
      border: none;
      color: white;
      padding: 10px 20px;
      text-align: center;
      text-decoration: none;
      font-size: 16px;
      cursor: pointer;
      border-radius: 8px;
      margin-right: 5px;
  }

  /* Style for Change Profile Picture button */
  #change-profile-button {
      background-color: #FFD700; /* Yellow */
      padding: 5px 10px; /* Smaller padding */
      font-size: 14px; /* Smaller font size */
  }
</style>


</head>

<body>
  <div class="wrapper">
    <div class="contact-info">
      <div><i class="fas fa-phone"></i> (+65) 11-1111-1111</div>
      <div><i class="fas fa-envelope"></i> toothcareclinicinfo@gmail.com</div>
      <div><i class="fas fa-clock"></i> Everyday: 7:00 - 19:00</div>
    </div>
    <div class="menu-bar">
      <div class="logo">
        <img class="logo-img" src="{% static 'images/Logo.png' %}" alt="ToothCare Logo">
        <span class="logo-text">ToothCare</span>
      </div>

      <ul class="nav-links">
        <!-- <li><a href="{% url 'home' %}">Home</a></li> -->
        <li><a href="{% url 'schedule' %}">Schedule</a></li>
        <li><a href="{% url 'appointment' %}">Appointment</a></li>
      </ul>
      <button class="button"><a href="{% url 'logout' %}" style="color: white;">Log Out</a><i class="fa-solid fa-arrow-right-from-bracket"></i></button>
    </div>
    <form action="{% url 'updateDoctor'%}" method="post" enctype="multipart/form-data" id="update-form" onsubmit="return saveUpdate()">
      {% csrf_token %}
      <div class="doctor-container">
        <div class="action-form">
          <img src="{% static 'images/edit.png' %}" title="Update" alt="Edit Icon" onclick="updateInfo()">
        </div>
        <div class="doctor-info">
          <input type="hidden" name="idDoctor" value="{{doctor.id}}">
          <div class="profile-picture">
            <img id="avatar-preview" class="avatar" src="{% static 'images/Doctor.PNG' %}" alt="Profile Picture">
            <h2>{{doctor.name}}</h2>
            <div class="white-line"></div>
            <div class="field-textu">
              <label for="email">
                <img src="{% static 'images/email.png' %}" alt="Email Icon">{{accountDoctor.email}}
              </label><br><br>
              <label for="phone">
                <img src="{% static 'images/phone.png' %}" alt="Phone Icon">{{doctor.phonenumber}}
              </label>
            </div>
          </div>

          <div class="profile-info">
            <div class="left-info">
              <div class="field-text">
                <label for="nation">Nation:</label>
                <input class="input-info" type="text" value="{{doctor.nation}}" readonly>
              </div>
              <div class="field-text">
                <label for="graduated">Graduated From:</label>
                <input class="input-info" type="text" value="{{doctor.graduation}}" readonly>
              </div>
              <div class="update-password" id="update-password">
                <div class="field-text" id="field-text-edit-pass1">
                  <input id="currentPass" type="hidden" name="currentPassword" value="{{accountDoctor.password}}">
                  <label for="password">Current password:</label>
                  <input id="inputCurrentPass" class="input-info" name="currentPass" type="password">
                </div>
                <div class="field-text" id="field-text-edit-pass2">
                  <label for="newPass">New password:</label>
                  <input id="newPass" class="input-info" name="newPass" type="password">
                </div>
              </div>
            </div>

            <div class="right-info">
              <div class="able-update" id="able-update">
                <div class="field-text">
                  <label for="birth">Birth:</label>
                  <input name="birthDoctor" id="birthDoctor" class="input-info-update" type="date" value="{{ doctor.birth|date:'Y-m-d' }}" style="width: 160px;" readonly>
                </div>
                <div class="field-text">
                  <div class="gender-selection">
                    <label for="gender">Gender:</label>
                    <input type="radio" id="male" name="gender-selected" value="male" {% if not doctor.gender%} checked
                      {%endif %} disabled>
                    <label for="male">Male</label><br>
                    <input type="radio" id="female" name="gender-selected" value="female" {% if doctor.gender%} checked
                      {%endif %} disabled>
                    <label for="female">Female</label><br>
                  </div>
                </div>
                <div class="note">
                  <button id="update-info1" type="button" style="margin-left: 20px;" onclick="cancelUpdate()">Cancel</button>
                  <button id="update-info" type="submit">Save</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>

  </div>
  <script>
    var initialBirth, initialGender;

    window.onload = function() {
      // Store initial values on page load
      initialBirth = document.getElementById('birthDoctor').value;
      initialGender = document.querySelector('input[name="gender-selected"]:checked').value;
    };
    function updateInfo() {
      document.getElementById('update-info1').style.display = 'block';
      document.getElementById('update-info').style.display = 'block';
      document.getElementById("field-text-edit-pass1").style.display = 'flex';
      document.getElementById("field-text-edit-pass2").style.display = 'flex';
      var inputs = document.querySelectorAll('.input-info-update, input[type="radio"]');
      inputs.forEach(function (input) {
        input.removeAttribute('readonly');
        input.removeAttribute('disabled');
      });
    }

    function saveUpdate() {
      var inputCurrentPass = document.getElementById("inputCurrentPass").value;
      var currentPass = document.getElementById("currentPass").value;
      var newPass = document.getElementById("newPass").value;
      if (inputCurrentPass !== "") {
        if (inputCurrentPass !== currentPass) {
          alert("Current password you entered is not correct");
          return false;
        } else {
          if (newPass === "") {
            alert("Please enter your new password");
            return false;
          }
          return true;
        }
      }
      return true;
    }

    function cancelUpdate() {
      document.getElementById('update-info').style.display = 'none';
      document.getElementById('update-info1').style.display = 'none';
      document.getElementById("field-text-edit-pass1").style.display = 'none';
      document.getElementById("field-text-edit-pass2").style.display = 'none';
      var inputs = document.querySelectorAll('.input-info-update, input[type="radio"]');
      inputs.forEach(function (input) {
        input.setAttribute('readonly', true);
        input.setAttribute('disabled', true);
      });
      if (initialGender === 'male') {
        document.getElementById('male').checked = true;
      } else {
        document.getElementById('female').checked = true;
      }
    }
  </script>
</body>

</html>
