<!-- {% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/headerStyle.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>
<body>
    <div class="wrapper">
        <div class="contact-info">
            <div><i class="fas fa-phone"></i> (+65) 11-1111-1111</div>
            <div><i class="fas fa-envelope"></i> info@toothcare.com</div>
            <div><i class="fas fa-clock"></i> Mon-Sat: 9:00 - 19:00</div>            
        </div>
        <div class="menu-bar">
            <div class="logo">
                <img class="logo-img" src="{% static 'images/Logo.png' %}" alt="ToothCare Logo">
                <span class="logo-text">ToothCare</span>
            </div>
            
            <ul class="nav-links">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'schedule' %}">Schedule</a></li>
                <li><a href="{% url 'appointment' %}">Appointment</a></li>
            </ul>
            <button class="button">Log out<i class="fa-solid fa-arrow-right-from-bracket"></i></button>
        </div>
        <div class="doctor-info">
            <div class="profile-picture">
                <img src="{% static 'images/Doctor.PNG' %}" alt="Profile Picture">
              </div>
  
              <div class="profile-info">
                <h1>{{ first_user.name}}</h1>
                <div class="white-line"></div>
  
                
                <div class="field-textu">
                  <label for="email">
                    <img src="{% static 'images/email.png' %}" alt="Email Icon"> Email: {{user_email}}
                  </label><br><br>
                  <label for="phone">
                    <img src="{% static 'images/phone.png' %}" alt="Phone Icon"> Phone Number: {{first_user.phonenumber}}
                  </label>
                </div>
                
                <div class="field-text2">
                  <label for="id">ID No:    <span style="text-decoration: underline;">{{first_user.idrole}}</span></label>
                </div>
                <br>
                <br>
                <div class="field-text2">
                  <label for="nation">Nation:     <span style="text-decoration: underline;">{{first_user.nation}}</span></label>
                </div><br><br>
                <div class="field-text2">
                  <label for="graduated">Graduated From:    <span style="text-decoration: underline;">{{first_user.graduation}}</span></label>
                </div>
                <div class="field-text3">
                  <label for="birth">Birth: <span style="text-decoration: underline;">{{first_user.birth}}</span></label>
                </div><br><br>
                <div class="field-text3">
                  <label for="gender">Gender:<span style="text-decoration: underline;">
                      {% if first_user.gender == 1 %}
                          Nu
                      {% elif first_user.gender == 0 %}
                          Nam
                      {% else %}
                          Unknown
                      {% endif %}
                    </span>
                  </label>
              </div>
                <div class="field-text-setting">
                <img src="{% static 'images/edit.png' %}" alt="Edit Icon">
                <img src="{% static 'images/settings.png' %}" alt="Setting Icon">
              </div>
              </div>  
            </div>
        </div>
    </div>
</body>
</html> -->

{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/headerStyle.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
  <link rel="stylesheet" href="{% static 'css/slider.css' %}">
</head>

<body>
  <div class="wrapper">
    <div class="contact-info">
      <div><i class="fas fa-phone"></i> (+65) 11-1111-1111</div>
      <div><i class="fas fa-envelope"></i> info@toothcare.com</div>
      <div><i class="fas fa-clock"></i> Mon-Sat: 9:00 - 19:00</div>
    </div>
    <div class="menu-bar">
      <div class="logo">
        <img class="logo-img" src="{% static 'images/Logo.png' %}" alt="ToothCare Logo">
        <span class="logo-text">ToothCare</span>
      </div>

      <ul class="nav-links">
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'schedule' %}">Schedule</a></li>
        <li><a href="{% url 'appointment' %}">Appointment</a></li>
      </ul>
      <button class="button">Log out<i class="fa-solid fa-arrow-right-from-bracket"></i></button>
    </div>
    <div class="doctor-container">
      <div class="action-form">
        <img src="{% static 'images/edit.png' %}" alt="Edit Icon">
        <img src="{% static 'images/settings.png' %}" alt="Setting Icon">
      </div>
      <div class="doctor-info">
        <div class="profile-picture">
          <img class="avatar" src="{% static 'images/Doctor.PNG' %}" alt="Profile Picture">
          <h2>{{ first_user.name}}</h2>
          <div class="white-line"></div>
          <div class="field-textu">
            <label for="email">
              <img src="{% static 'images/email.png' %}" alt="Email Icon"> Email: {{user_email}}
            </label><br><br>
            <label for="phone">
              <img src="{% static 'images/phone.png' %}" alt="Phone Icon"> Phone Number: {{first_user.phonenumber}}
            </label>
          </div>
        </div>

        <div class="profile-info">
          <div class="left-info">
            <div class="field-text">
              <label for="nation">Nation:</label>
              <input class="input-info" type="text" value="{{first_user.nation}}" readonly>
            </div>
            <div class="field-text">
              <label for="graduated">Graduated From:</label>
              <input class="input-info" type="text" value="{{first_user.graduation}}" readonly>
            </div>
          </div>

          <div class="right-info">
            <div class="field-text">
              <label for="birth">Birth:</label>
              <input class="input-info" type="text" value="{{first_user.birth}}" readonly>
            </div>
            <div class="field-text">
              <div class="gender-selection">
                <label for="gender">Gender:</label>            
                <input type="radio" id="male" name="gender-selected" value="male">
                <label for="male">Male</label><br>
                <input type="radio" id="female" name="gender-selected" value="female">
                <label for="female">Female</label><br>
                <input type="radio" id="other" name="gender-selected" value="other">
                <label for="other">Other</label><br>
              </div>
              <!-- {% if first_user.gender == 1 %}
              Nu
              {% elif first_user.gender == 0 %}
              Nam
              {% else %}
              Unknown
              {% endif %} -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</body>

</html>