:root{
  --light-background-color: #F7F9FC;
  --main-color: #A2BEC1;
  --strong-main-color: #42AEB1;
}
body {
  font-family: 'Roboto', sans-serif;
}
.doctor-container{
  display: flex;
  flex-direction: column;
  max-width: 100%;
  box-sizing: border-box;
  color: white;
  font-size: 18px;
}
.action-form{
  display: flex;
  justify-content: flex-end;
  margin: 20px 20px 0 20px;
}
.action-form img{
  margin: 0 10px 0 10px;
}
.doctor-info {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  box-sizing: border-box;
  margin: 0 20px 20px 20px;
}
.profile-picture {
  width: 350px;
  height: 250px;
}
.avatar {
  width: 75%;
  height: 65%;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
  margin-bottom: 40px;
}

.white-line {
  width: 100%;
  height: 1px;
  background-color: white;
  margin: 8px 0;
}
.field-textu img{
  width: 20px;
  height: auto;
  margin-right: 8px;
}

.profile-info {
  display: flex;
  flex-direction: row;
  flex: 1;
  margin-left: 100px;
}
.left-info, .right-info{
  flex: 1;
}
.field-text{
  width: 100%;
  padding: 0 10px 10px 10px;
  margin-bottom: 50px;
}
.input-info{
  background-color: var(--strong-main-color);
  height: 40px;
  width: 70%;
  border: none;
}
.field-text input[type='text']:focus{
  outline: none;
}
.gender-selection{
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 40px;
  width: 70%;
}
.gender-selection input[type='radio'] {
  transform: scale(1.5);
  background-color: var(--strong-main-color);
  margin: 0 4px 0 16px;
}
