<!-- {% extends "base.html" %}


{% block content %} -->
{% load static %}
{% include "header.html" %}
<style>
    .intro{
        padding: 5px;
        padding-left: 20px;
        background-color: #42AEB1;
        border-radius: 5px;
        margin: 30px;
    }
    p, h1, h2, h3, h4, h5, h6 {
        font-family: 'Roboto', sans-serif;
    }
    .box{
        background-color:#F4F4F4; 
        margin: 20px; 
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); 
        border-radius: 5px;
        flex: 0 1 calc(25% - 10px); 
        margin: 5px;
    }
    .box:hover {
        background-color: #A2BEC1; 
        cursor: pointer;
    }
    .box.clicked {
        background-color: #A2BEC1;
    }
    .imgIntroPatient{
        width: 80px;
        height: auto;
    }
    .submitForm{
        margin-left: 25px;
        margin-top: 30px;
        margin: 30px 0 25px 30px;
        border: none; 
        background-color: #42AEB1; 
        border-radius: 10px; 
        width: 20%; 
        height: 50px; 
        font-size: 20px; 
        font-family: 'Roboto', sans-serif; 
        color: #ffffff;
    }
    .submitForm:hover {
        background-color: #A2BEC1; 
        cursor: pointer;
    }
    #showDrInfo {
        display: none;
    }
    #showDrInfo.visible {
        display: block;
        background-color: #42AEB1; 
        width: 27.5%; 
        padding-left: 25px; 
        color: #ffffff; 
        border-radius: 5px; 
        margin-left: 10px; 
        margin-right: 25px;
    }
    .pagination {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }

    .step-links {
        display: flex;
        gap: 10px;
    }

    .step-links a {
        text-decoration: none;
        color: blue;
    }

    .step-links .current {
        font-weight: bold;
    }
</style>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        var boxes = document.querySelectorAll(".box");
        var showDrInfoDiv = document.getElementById("showDrInfo");

        boxes.forEach(function(box) {
            box.addEventListener("click", function() {
                boxes.forEach(function(b) {
                    b.classList.remove("clicked");
                });
                this.classList.add("clicked");
                // Lấy giá trị ID của div box được click
                var scheduleId = this.id;

                // Cập nhật giá trị của trường input ẩn
                document.getElementById("idScheduleInput").value = scheduleId;
                debugger
                // Lấy info bác sĩ từ thuộc tính data-
                var doctorName = this.getAttribute("data-name");
                var phone = this.getAttribute("data-phone");
                var graduation = this.getAttribute("data-graduation");
                var gender = this.getAttribute("data-gender");
                var birth = this.getAttribute("data-birth");
                var nation = this.getAttribute("data-nation");

                // Cập nhật nội dung của <p id="nameDr">
                document.getElementById("name").textContent = doctorName;
                document.getElementById("phone").textContent = phone;
                document.getElementById("graduation").textContent = graduation;
                document.getElementById("gender").textContent = gender == "True" ? "Female" : "Male";
                document.getElementById("birth").textContent = birth.split(',')[0] + birth.split(',')[1];
                document.getElementById("nation").textContent = nation;

                showDrInfoDiv.classList.add("visible");
            });
        });
    });
    function validateForm() {
        var idSchedule = document.getElementById("idScheduleInput").value;
        var idPatient = document.querySelector("input[name='idPatient']").value;
        var symptom = document.querySelector("textarea[name='symptom']").value;
        
        if (!idSchedule || !idPatient || !symptom) {
            alert("Please fill in all required fields.");
            return false; // Ngăn form được gửi đi nếu có trường trống
        }
        return true;
    }
    function formatDate(inputDate) {
        // Chuyển chuỗi đầu vào thành đối tượng Date
        const date = new Date(inputDate);
        
        // Định dạng tháng thành dạng ngắn (3 chữ cái)
        const months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
        const month = months[date.getMonth()];
        
        // Lấy các thành phần ngày, năm, giờ và phút
        const day = String(date.getDate()).padStart(2, '0');
        const year = date.getFullYear();
        const hours = String(date.getHours()).padStart(2, '0');
        const minutes = String(date.getMinutes()).padStart(2, '0');
        
        // Định dạng lại chuỗi ngày theo yêu cầu
        return `${month} ${day}, ${year}, ${hours}:${minutes}`;
    }
</script>

<div class="intro">
    <h2 style="color: #185C79; margin-left: 10px; margin-bottom: 0px; font-size: 26px; font-family: 'Roboto', sans-serif;">Hi, {{ name }}</h2>
    <div style="display: flex; padding: 10px;">
        <p style="width: 70%; color: #ffffff; font-size: 24px; padding-right: 50px; text-align: justify;">
            We use the latest technology and techniques to provide the most effective care possible, and we are dedicated to helping you achieve optimal oral health. With our customized treatment plans, you can enjoy a healthy, beautiful smile for life.
        </p>
        <!-- <img class="imgIntroPatient" src="../static/images/imgIntroPatient.png" alt="ToothCareimgIntroPatient"> -->
        <img style="width: 30%;" class="imgIntroPatient" src="{% static 'images/imgIntroPatient.png' %}" alt="ToothCareimgIntroPatient">
    </div>
</div>

<div style="display: flex; width: 100%;">
<form action="{% url 'PostBookAppointment'%}" method="post" style="padding-left: 10px; width: 70%;">
    {% csrf_token %}
    <div class="divTittle" style="display: flex; margin-left: 25px; height: 40px; margin-bottom: 25px;">
        <div style="background-color: #4FA5A8; height: auto; width: 10px; margin-right: 10px;"></div>
        <h3 style="color: #4FA5A8; margin: 10px;">Choose Schedule</h3>
    </div>
    <div name="SchedulesPart" style="display: flex; flex-wrap: wrap; margin-bottom: 20px; padding-left: 25px;">
        {% for schedule in page_obj %}
            <div class="box" id="{{ schedule.id }}"
            data-name="{{ schedule.iduser.name }}"
            data-phone="{{ schedule.iduser.phonenumber }}"
            data-graduation="{{ schedule.iduser.graduation }}"
            data-gender="{{ schedule.iduser.gender }}"
            data-birth="{{ schedule.iduser.birth }}"
            data-nation="{{ schedule.iduser.nation }}">
                <p style="font-size: 16px; margin: 30px 20px 10px 20px">{{ schedule.formatted_startshift }}</p>
                <h4 style="margin-left: 20px; margin-bottom: 40px;">{{schedule.iduser.name}}</h4>
            </div>
        {% endfor %}
    </div>
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>

    <div class="divTittle" style="display: flex; margin-left: 25px; height: 40px;">
        <div style="background-color: #4FA5A8; height: auto; width: 10px; margin-right: 10px;"></div>
        <h3 style="color: #4FA5A8; margin: 10px;">Symptom</h3>
    </div>
    <textarea style="margin-left: 25px; margin-top: 20px; border-color: #42AEB1; border-radius: 10px; width: 80%; font-size: 18px; font-family: 'Roboto', sans-serif; padding: 15px;" name="symptom" cols="10" rows="5"></textarea>
    <br>
    <input type="text" name="idSchedule" id="idScheduleInput" hidden>
    <input type="text" name="idPatient" value="{{ idPatient }}" hidden>
    <input type="submit" class="submitForm" name="Book Appointment" onclick="return validateForm();">
</form>

<div id="showDrInfo" >
    <h5>Name</h5>
    <p id="name"></p>
    <h5>Phone Number</h5>
    <p id="phone"></p>
    <h5>Graduation</h5>
    <p id="graduation"></p>
    <h5>Gender</h5>
    <p id="gender"></p>
    <h5>Birth</h5>
    <p id="birth"></p>
    <h5>Nation</h5>
    <p id="nation"></p>
</div>
</div>
{% endblock content %}
