<!-- {% extends "base.html" %}


{% block content %} -->
{% load static %}
{% include "header.html" %}
<style>
    .intro{
        padding: 5px;
        padding-left: 20px;
        background-color: #42AEB1;
        border-radius: 5px;
        margin: 30px;
    }
    p, h1, h2, h3, h4, h5, h6 {
        font-family: 'Roboto', sans-serif;
    }
    .box{
        background-color:#F4F4F4; 
        margin: 20px; 
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); 
        border-radius: 5px;
        flex: 0 1 calc(25% - 10px); 
        margin: 5px;
        border: 2px solid #F4F4F4;
    }
    .box:hover {
        /* background-color: #A2BEC1;  */
        cursor: pointer;
        border: 2px solid #42AEB1;
    }
    .box.clicked {
        /* background-color: #A2BEC1; */
        border: 2px solid #42AEB1;
    }
    .gray-box {
        background-color: gray;
        border: 2px solid gray;
    }
    .imgIntroPatient{
        width: 80px;
        height: auto;
    }
    .submitForm{
        margin-left: 25px;
        margin-top: 30px;
        border: none; 
        background-color: #42AEB1; 
        border-radius: 10px; 
        width: 20%; 
        height: 50px; 
        font-size: 20px; 
        font-family: 'Roboto', sans-serif; 
        color: #ffffff;
    }
    .submitForm:hover {
        background-color: #A2BEC1; 
        cursor: pointer;
    }
    #showDetailAppoinment {
        display: none;
    }
    #showDetailAppoinment.visible {
        display: block;
        background-color: #42AEB1; 
        width: 30%; 
        padding-left: 25px; 
        color: #ffffff; 
        border-radius: 5px; 
        margin-left: 10px; 
        margin-right: 25px;
        margin-bottom: 20px;
    }
</style>
<script>
    // Lấy dữ liệu từ context và chuyển đổi sang định dạng JavaScript
    var errormsg = "{{ errormsg|escapejs }}";

    // Kiểm tra nếu có dữ liệu và hiển thị thông báo alert
    if (errormsg && errormsg !== 'None') {
        alert(errormsg);
    }
</script>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        var boxes = document.querySelectorAll(".box");
        var showDetailAppoinmentDiv = document.getElementById("showDetailAppoinment");

        boxes.forEach(function(box) {
            box.addEventListener("click", function() {
                boxes.forEach(function(b) {
                    b.classList.remove("clicked");
                });
                this.classList.add("clicked");
                // Lấy giá trị ID của div box được click
                var meetigId = this.id;

                // Cập nhật giá trị của trường input ẩn
                document.getElementById("idMeetingInput").value = meetigId;

                // Lấy info detail từ thuộc tính data-
                var doctorName = this.getAttribute("data-doctorname");
                var appoitime = this.getAttribute("data-appoitime");
                var status = this.getAttribute("data-status");
                var symptom = this.getAttribute("data-symptom");

                // Cập nhật nội dung của <p id="nameDr">
                document.getElementById("doctorname").textContent = doctorName;
                document.getElementById("time").textContent = appoitime;
                document.getElementById("status").textContent = status;
                document.getElementById("symptom").textContent = symptom;

                showDetailAppoinmentDiv.classList.add("visible");
            });
        });
    });
    function validateForm() {
        var idSchedule = document.getElementById("idMeetingInput").value;
        
        if (!idSchedule) {
            alert("Please choose 1 appointment to cancel.");
            return false; // Ngăn form được gửi đi nếu có trường trống
        }
        return confirm("Are you sure you want to cancel this appointment?");
    }
</script>

<div class="intro">
    <h2 style="color: #185C79; margin-left: 10px; margin-bottom: 0px; font-size: 26px; margin-top: 40px;">Hi, {{ name }}</h2>
    <div style="display: flex; padding: 10px;">
        <p style="width: 70%; color: #ffffff; font-size: 24px; padding-right: 50px; text-align: justify;">
            We use the latest technology and techniques to provide the most effective care possible, and we are dedicated to helping you achieve optimal oral health. With our customized treatment plans, you can enjoy a healthy, beautiful smile for life.
        </p>
        <!-- <img class="imgIntroPatient" src="../static/images/imgIntroPatient.png" alt="ToothCareimgIntroPatient"> -->
        <img style="width: 30%;" class="imgIntroPatient" src="{% static 'images/imgIntroPatient.png' %}" alt="ToothCareimgIntroPatient">
    </div>
</div>

<div style="display: flex; width: 100%;">
<form action="{% url 'CancelHistoryAppointment'%}" method="post" style="padding-left: 10px; width: 70%;">
    {% csrf_token %}
    <div class="divTittle" style="display: flex; margin-left: 25px; height: 40px; margin-bottom: 25px;">
        <div style="background-color: #4FA5A8; height: auto; width: 10px; margin-right: 10px;"></div>
        <h3 style="color: #4FA5A8; margin: 10px;">Your Appointment</h3>
    </div>
    <div name="SchedulesPart" style="display: flex; flex-wrap: wrap; margin-bottom: 20px; padding-left: 25px;">
        {% for meeting in meetings %}
            <div class="box {% if meeting.idschedule.startshift_tz  < current_time %} gray-box{% endif %}" id="{{ meeting.id }}"
                data-doctorname="{{ meeting.idschedule.iduser.name }}"
                data-appoitime="{{ meeting.idschedule.formatted_startshift }}"
                data-status="{{ meeting.statusDesc }}"
                data-symptom="{{ meeting.symptom }}">
                <p style="font-size: 16px; margin: 30px 20px 10px 20px">{{ meeting.idschedule.formatted_startshift }}</p>
                <h4 style="margin-left: 20px; margin-bottom: 40px;">{{meeting.symptom}}</h4>
            </div>
        {% endfor %}
    </div>
    <input type="text" name="idMeeting" id="idMeetingInput" hidden>
    <input style="margin-bottom: 20px;" type="submit" class="submitForm" value="Cancel Appointment" onclick="return validateForm();">
</form>

<div id="showDetailAppoinment" >
    <h2 style="margin-top: 40px; margin-bottom: 10px;">Doctor Name</h2>
    <p style="font-size: 18px;" id="doctorname"></p>
    <h2 style="margin-top: 30px; margin-bottom: 10px;">Appointment Time</h2>
    <p style="font-size: 18px;"  id="time"></p>
    <h2 style="margin-top: 30px; margin-bottom: 10px;">Status</h2>
    <p style="font-size: 18px;"  id="status"></p>
    <h2 style="margin-top: 30px; margin-bottom: 10px;">Symptom</h2>
    <p style="font-size: 18px; margin-bottom: 30px;"  id="symptom"></p>
</div>
</div>
{% endblock content %}
